{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        <div class="following-list">
          {% for following in user.Followings %}
            <div class="following">
              <div class="fingNick">{{ following.nick }}</div> 
                <button class="twit-follow-cancle" data-user-id="{{ following.id }}">팔로우 끊기</button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        <div class="follower-list">
          {% for follower in user.Followers %}
            <div class="follower">
              <div class="fingNick">{{ follower.nick }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}
  
  {% block script %}
  <script>
    document.querySelectorAll('.twit-follow-cancle').forEach(function(button) {
      button.addEventListener('click', function() {
        var userId = button.getAttribute('data-user-id');
        if (confirm('팔로우를 취소하시겠습니까?')) {
          var xhr = new XMLHttpRequest();
          xhr.onload = function() {
            if (xhr.status === 200) {
              location.reload();
            } else {
              console.error(xhr.responseText);
            }
          };
          xhr.open('POST', '/user/' + userId + '/followCancle');
          xhr.send();
        }
      });
    });
  </script>
  
{% endblock %}